<p style="color: green"><%= notice %></p>

<h1>Sharks</h1>

<div id="sharks">
  <% @sharks.each do |shark| %>
    <%= render shark %>
    <p>
      <%= link_to "Show", shark %>
      <%= link_to "Edit", edit_shark_path(shark) %>
      <%= link_to "Destroy", shark, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </p>
  <% end %>
</div>

<%= link_to "New shark", new_shark_path %>

<p><%= button_to 'Which Sharks Are in Danger?', endangered_index_path, :method => :get %>