<p style="color: green"><%= notice %></p>

<%= render @shark %>

<div>
  <%= link_to "Edit", edit_shark_path(@shark) %> |
  <%= link_to "Destroy", @shark, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> |
  <%= link_to "Back to sharks", sharks_path %>
</div>
